
/*image de fond*/
. img{
  background-size : cover;
}

/*premier bloc*/
.yellow {
  height: 150px;
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  font-size: 25px;
  Color : black;

}

/*bandeau*/
header {
  background-color: transparent;
  height: 50px;
  font-size: 26px;
  padding: 0px;
  margin: 0px;
}

/*fond du bandeau*/
.transparent {
  background-color: #ffffff;
  opacity: 0.7;
  margin : 10px;
  padding : 10px;
  border-radius : 10px;

}

/*bouton mon compte*/
.moncompte {
  background-color: black;
  width: 20px;
  font-family: century gothic;
  color : white;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;

}

/*section explore*/
.exploretitle {
  background-color: black;
  border-radius: 0px;
  color : white;
  width : 1550px;
  font-family: century gothic;
  font-size: 20px;
}

/*section toplists*/
.topliststitle {
  background-color: black;
  border-radius: 0px;
  color : white;
  width : 1550px;
  font-family: century gothic;
  font-size: 20px;

}

/*section récemment écouté*/
.Récemmentécoutétitle {
  background-color: black;
  border-radius: 0px;
  color : white;
  width : 1550px;
  font-family: century gothic;
  font-size: 20px;

}

/*ecritures sur le bandeau*/
.coeurplaylist {
  font-family: century gothic;
  font-size: 20px;
}

/*ancien bloc explore*/
h3{
  background-color: transparent;
  height: 330px;
  font-size: 30px;
  padding : 10px;
  margin : 10px;
  color: black;
  font-family:MingLiU-ExtB;

}


/*ancien bloc toplists*/
h4{
  background-color: transparent;
  height: 330px;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  color: black;
  font-family: MingLiU-ExtB;
}

/*ancien bloc récemment écouté*/
h5 {
  background-color: transparent;
  height : 330px;
  font-size : 30px;
  padding : 10px;
  margin : 10px;
  color : black;
  font-family: MingLiU-ExtB;
}

/*barre de recherche*/
input[type=text] {
  width : 300px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-family: century gothic;
  height: 25px;
  border-radius: 10px;
}

input[type=text]:focus {
  width : 99%;
}

/*liste musique modifiable*/
.airtable {
  background-color: transparent;
  font-family: arial;
  font-size : 14px;
  color : white;

}

/*footer*/
.main-footer {
  background-color: white;
  height:80px;
  font-family:century gothic;
  font-size: 18px;
  color: black;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

/*1ere ligne playlist dans onglet Playlists*/
.musiquesplaylists1 {
  display : flex;
  flex-flow: row;
  justify-content: space-between;
  font-family: century gothic;
  font-weight: bold;
}

/*2ème ligne playlist dans onglet Playlists*/
.musiquesplaylists2 {
  display : flex;
  flex-flow: row;
  justify-content: space-between;
  font-family: century gothic;
  font-weight : bold;
}
