.yellow {
  height: 150px;
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  width: 1600px;
  font-size: 25px;
  Color : black;

}

header {
  background-color: transparent;
  height: 50px;
  font-size: 26px;
  padding: 0px;
  margin: 0px;
  width: 1500px;
}

.transparent {
  background-color: #ffffff;
  opacity: 0.7;
  margin : 10px;
  padding : 10px;
  border-radius : 10px;

}

.moncompte {
  background-color: black;
  width: 20px;
  font-family: century gothic;
  color : white;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;

}

.exploretitle {
  background-color: black;
  border-radius: 0px;
  color : white;
  width : 1550px;
  font-family: century gothic;
  font-size: 20px;
}

.topliststitle {
  background-color: black;
  border-radius: 0px;
  color : white;
  width : 1550px;
  font-family: century gothic;
  font-size: 20px;

}

.Récemmentécoutétitle {
  background-color: black;
  border-radius: 0px;
  color : white;
  width : 1550px;
  font-family: century gothic;
  font-size: 20px;

}

.coeurplaylist {
  font-family: century gothic;
  font-size: 20px;
}

h3{
  background-color: transparent;
  height: 330px;
  font-size: 30px;
  padding : 10px;
  margin : 10px;
  color: black;
  font-family:MingLiU-ExtB;

}


h4{
  background-color: transparent;
  height: 330px;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  color: black;
  font-family: MingLiU-ExtB;
}

h5 {
  background-color: transparent;
  height : 330px;
  font-size : 30px;
  padding : 10px;
  margin : 10px;
  color : black;
  font-family: MingLiU-ExtB;
}

input[type=text] {
  width : 300px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-family: century gothic;
  height: 25px;
  border-radius: 10px;
}

input[type=text]:focus {
  width : 20%;
}

.airtable {
  background-color: transparent;
  height : 600px;
  font-family: arial;
  font-size : 14px;
  color : white;

}

.main-footer {
  background-color: white;
  height:80px;
  font-family:century gothic;
  font-size: 18px;
  color: black;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}
